@font-face {
    font-family: 'Opensans-Normal';
    font-weight: normal;
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
	     url('../fonts/OpenSans-Regular.woff2') format('woff2'), 
	     url('../fonts/OpenSans-Regular.woff') format('woff'), 
	     url('../fonts/OpenSans-Regular.svg#svgFontName') format('svg');
}