/*------------------------------------*\
    HELPERS
\*------------------------------------*/

html,
body {
  height: 100%;
  margin: 0px;
}

*:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
}

/*------------------------------------*\
    COLORS
\*------------------------------------*/

/*------------------------------------*\
    HEADER
\*------------------------------------*/

header {
  padding-top: 0 !important;
}

header .navbar-brand img {
  height: 3.5rem;
}

header .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 700;
}

.dashboard-layout header {
  z-index: 1;
}

/*------------------------------------*\
    BODY
\*------------------------------------*/

body {
  background-color: #fff;
  /* Dashboard */
  /* Index */
  /* Map */
}

body .localization .dropdown a img {
  vertical-align: text-top;
}

body .custom-file {
  z-index: 0;
}

body .nav-pills {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

body .nav-pills a {
  -webkit-box-flex: 1;
          flex-grow: 1;
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}

body .nav-pills a:not(:first-child):not(:last-child) {
  margin-left: 10px;
  margin-right: 10px;
}

body .banner.about {
  background-color: #ffffff;
  padding-top: 2rem;
  text-align: center;
}

body .banner.about img {
  height: auto;
  width: auto;
}

body .banner img {
  max-height: 40vh;
  width: 100%;
}

body .dashboard-layout .sidebar {
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

body .dashboard-layout .sidebar #sidebar-items > .list-group-item {
  padding: 0;
}

body .dashboard-layout .sidebar #sidebar-items > .list-group-item .btn-group {
  width: 100%;
}

body .dashboard-layout .sidebar #sidebar-items > .list-group-item .btn-group .dropdown-menu {
  background-color: #fff;
  z-index: 99;
}

body .dashboard-layout .sidebar #sidebar-items > .list-group-item .btn {
  -webkit-box-align: center;
          align-items: center;
  color: #212529;
  display: -webkit-box;
  display: flex;
  padding: 0.75rem 1rem;
}

body .dashboard-layout .sidebar #sidebar-items > .list-group-item .btn:hover {
  text-decoration: none;
}

body .dashboard-layout .sidebar #sidebar-items > .list-group-item .btn:after {
  margin-left: auto;
}

body .dashboard-layout .sidebar #sidebar-items > .list-group-item .btn i {
  margin-right: 5px;
}

body .dashboard-layout .main .breadcrumb {
  background-color: transparent;
  padding: 0;
}

body .dashboard-layout .main .breadcrumb li:first-child {
  font-size: 25px;
  font-weight: 700;
  line-height: 15px;
}

body .dashboard-layout .main #calendar {
  z-index: 0;
}

body .index svg {
  height: 250px;
  width: 100%;
}

body .index .showcase {
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}

body .index .marketing {
  margin-bottom: 5rem;
}

body .index .marketing .col-md-7 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

body .map .map-img {
  border: 1px solid #dee2e6;
  display: block;
  margin: 0 auto 5rem;
  padding: 0.25rem;
  width: 70%;
}

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #212529;
  padding: 30px 3rem 30px;
}

footer .col {
  margin-bottom: 10px;
}

footer .col .title {
  font-weight: 700;
}

footer .col .logo {
  max-height: 10rem;
  min-width: 10rem;
}

footer .col p,
footer .col address {
  font-size: 0.8rem;
}

footer .col .social span {
  text-align: left;
  margin-bottom: 10px;
}

footer .col .social span a {
  color: #212529;
}

/*------------------------------------*\
    RESPONSIVE UTILITIES
\*------------------------------------*/

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }

  .dashboard-layout .main .breadcrumb li:first-child {
    line-height: 25px !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 18px;
  }

  .dashboard-layout .main .breadcrumb li:first-child {
    line-height: 20px !important;
  }
}

@media (max-width: 767px) {
  .dashboard-layout .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: nowrap;
  }

  .dashboard-layout .sidebar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: transparent;
    flex-shrink: 1;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 16px;
  }

  .dashboard-layout .main .breadcrumb li:first-child {
    line-height: 20px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }

  .dashboard-layout header {
    height: auto;
  }
}

@media (min-width: 40em) {
  .index .carousel-caption p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
  }
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
  /* Webkit Zoomed Print Issue */

  .container {
    width: auto;
  }
}

/* Portrait */

/* Landscape */

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

/*------------------------------------*\
    CSS HACKS
\*------------------------------------*/

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .login .form-label-group > label {
    display: none;
  }

  .login .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .login .form-label-group > label {
    display: none;
  }

  .login .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

