/*------------------------------------*\
    HELPERS
\*------------------------------------*/
html, body { 
    height: 100%; 
    margin: 0px; 
}

*:focus { outline: 5px auto -webkit-focus-ring-color !important; }

/*------------------------------------*\
    COLORS
\*------------------------------------*/
$base-color: #212529;


/*------------------------------------*\
    HEADER
\*------------------------------------*/
header {
    padding-top: 0 !important;

    .navbar-brand img { height: 3.5rem; }
    .navbar-nav .nav-link { font-size: 1rem; font-weight: 700; }
}

.dashboard-layout header { z-index: 1; }


/*------------------------------------*\
    BODY
\*------------------------------------*/
body { 
    background-color: #fff; 

    .localization .dropdown a img { vertical-align: text-top; }
    .custom-file { z-index: 0; }

    .nav-pills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1rem 0;

        a { 
            flex-grow: 1;
            font-size: 1.15rem;
            font-weight: 700;
            margin-bottom: 10px;
            margin-top: 0;
            
            &:not(:first-child):not(:last-child) { 
                margin-left: 10px;
                margin-right: 10px;  
            }
        }
    }

    .banner {
        &.about {
            background-color: #ffffff; 
            padding-top: 2rem;
            text-align: center;

            img { height: auto; width: auto; }
        }

        img { max-height: 40vh; width: 100%; }
    }

    /* Dashboard */
    .dashboard-layout {
        .sidebar { 
            background-color: #fff;
            border-right: 1px solid rgba(0,0,0,.1);

            #sidebar-items {
                & > .list-group-item {
                    padding: 0;

                    .btn-group {
                        width: 100%;

                        .dropdown-menu { 
                            background-color: #fff;
                            z-index: 99; 
                        }
                    }

                    .btn {
                        align-items: center;
                        color: $base-color;
                        display: flex;
                        padding: 0.75rem 1rem;

                        &:hover { text-decoration: none; }
                        &:after { margin-left: auto; }

                        i { margin-right: 5px; }
                    }
                    
                }
            }
        }

        .main {
            .breadcrumb { 
                background-color: transparent;
                padding: 0;

                li:first-child {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 15px;
                }
            }

            #calendar { z-index: 0; }
        }
    }

    /* Index */
    .index {
        svg { height: 250px; width: 100%; }

        .showcase { 
            margin-bottom: 1.5rem;
            padding: 0 3rem;
        }
        
        .marketing {
            margin-bottom: 5rem;

            .col-md-7 { 
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    /* Map */
    .map {
        .map-img {
            border: 1px solid #dee2e6;
            display: block;
            margin: 0 auto 5rem;
            padding: .25rem;
            width: 70%;
        }
    }
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer {
    border-top: 1px solid rgba(0,0,0,.1); 
    color: $base-color;
    padding: 30px 3rem 30px;

    .col { 
        margin-bottom: 10px; 

        .title { font-weight: 700; }
        .logo { max-height: 10rem; min-width: 10rem; }
        p, address { font-size: .8rem; }

        .social {
            span {
                text-align: left;
                margin-bottom: 10px;

                a { color: $base-color; }
            }
        }
    }
}


/*------------------------------------*\
    RESPONSIVE UTILITIES
\*------------------------------------*/

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html { font-size: 20px; }

    .dashboard-layout .main .breadcrumb li:first-child { line-height: 25px !important; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    html { font-size: 18px; }

    .dashboard-layout .main .breadcrumb li:first-child { line-height: 20px !important; }
}

@media (min-width: 768px) {}

@media (max-width: 767px) {
    .dashboard-layout {
        .cont { 
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .sidebar { 
            border-bottom: 1px solid rgba(0,0,0,.1); 
            border-right: transparent; 
            flex-shrink: 1;
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    html { font-size: 16px; }

    .dashboard-layout .main .breadcrumb li:first-child { line-height: 20px !important; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    html { font-size: 14px; }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    html { font-size: 12px; }

    .dashboard-layout header { height: auto; }
}

@media (min-width: 40em) {
    .index {
        .carousel-caption p {
            font-size: 1.25rem;
            line-height: 1.4;
            margin-bottom: 1.25rem;
        }
    }
}

@media (min-width: 62em) {}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
    
    /* Webkit Zoomed Print Issue */
    .container { width: auto; }
}

/* Portrait */
@media print and (orientation:portrait) {}

 /* Landscape */
@media print and (orientation:landscape) {}

/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

/*------------------------------------*\
    CSS HACKS
\*------------------------------------*/

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .login .form-label-group > label { display: none; }
    .login .form-label-group input::-ms-input-placeholder { color: #777; }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
{
    .login .form-label-group > label { display: none; }
    .login .form-label-group input:-ms-input-placeholder { color: #777; }
}